body{ 
    background-color: rgb(230, 230, 150);
    font-family: 'Courier New', Courier, monospace;
    
}
.header{
    background-color: rgb(132, 136, 132);
    position: absolute;
    width: 100%;
    top:10px;
    height: fit-content;
    font-size: large;
    z-index: 1;
}
h1{ 
    position:relative;
    margin-left: 240px;
    margin-top: 100px;
    z-index: 2;
}

.pro{
padding-top: 20px;
padding-left: 2px;
}

p{
    font-size: 30px;
    margin-top:30px;
    margin-left: 240px;
}
img{
    position: absolute;
    width: 12%;
    padding-left: 3%;
    padding-top: 2%;
    margin-right: 80%;
    margin-top: 0px;
    z-index: 3;
}

.contact{
    position: absolute;
    width:30%;
    top:90px;
    left:1000px;
    z-index: 4;
    
}
h2{
    position: relative;
    width: 40px;
    margin-top: 230px;
    padding-left: 50px;
}
.PRofil{ 
    background-color: rgb(235, 241, 146);
    
}
h3{
    position:relative;
    width:40px;
    padding-left: 50px;
}
h4{
    position:relative;
    width:100px;
    padding-left: 50px;
}
h5{
    position:relative;
    width:100px;
    padding-left: 50px; 
}
.flowershop{
    background-color:rgb(235, 241, 146);
    ;

}
.koK{
    background-color: rgb(235, 241, 146);
}
.info{
    font-size: 1px;
    padding-top: 40px;
    padding-left: 300px;
}